* {
  padding: 0;
  margin: 0;
}

.header {
  box-sizing: border-box;
  padding: 0 245px;
  height: 450px;
  max-width: 100%;
  min-width: 1660px;
  background-color: #000000;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.header::after {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  
  z-index: -1;
}

.container {
  padding: 28px 0 0 3px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 180px;
  /* padding-top: 36px; */
}

.menu {
  /* margin-top: 17px; */
  margin-bottom: 4px;
  /* padding-bottom: 13px; */
  padding-top: 13px;
  /* gap: 35px; */
}

.menu-list li{
  display: inline;
}

.menu-list li:nth-child(n+2) {
  margin-left: 30px;
}

.menu-list li:nth-child(5) {
  margin-left: 33px;
}

.menu-link{
  font-family: OpenSansRegular, Arial, sans-serif;
  color: #ffffff;
  font-size: 13px;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.title {
  /* width: 100%; */
  /* box-sizing: border-box; */
  /* min-width: 680px; */
  padding: 0 233px;
  margin-top: 102px;
  font-family: OpenSansBold, Arial, sans-serif;
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  line-height: 1.66;
  text-transform: uppercase;
  /* vertical-align: text-top; */
  /* margin-bottom: 146px; */
}

.page {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 1660px;
  margin: 0 0px 64px;
  padding: 0 245px;
  display: flex;
  justify-content: space-between;
}

.post-list {
  width: 793px;
}

.card {
  margin-top: 63px;
  display: flex;
  flex-wrap: no-wrap;
}

.card-preview {
  box-sizing: border-box;
  width: 381px;
  height: 291px;
  background-color: #f4f7f6;
}

.card-content {
  box-sizing: border-box;
  margin-left: 30px;
  /* padding-top: 2px; */
}

.card-menu-list li{
  display: inline;
}

.card-menu-list li:nth-child(n+2){
  margin-left: 15px;
}

.card-menu-list-item a{
  font-family: OpenSansBold, Arial, sans-serif;
  color: #b59f5b;
  font-size: 14px;
  text-align: left;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
}

.card-menu-link:hover {
  text-decoration: underline;
}

.card-name {
  margin-top: 5px;
  margin-bottom: 26px;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}

.card-name:hover {
  color: #b59f5b;
}

.card-date {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 12px;
  color: #888888;
  
  text-align: left;
}

.card-author {
  margin-left: 5px;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: left;
}

.card-text {
  padding-top: 47px;
  padding-bottom: 15px;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 1.45;
  text-align: left;
}

.paragraph {
  margin-top: 9px;
}

.aside-column {
  width: 272px;
}

.aside-posts {
  margin-top: 59px;
  display: flex;
  flex-wrap: wrap;
}

.aside-name {
  margin: auto;
  /* padding-bottom: 14px; */
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.aside-name::after {
  content: "";
  width: 65px;
  padding-top: 14px;
  margin: auto;
  border-bottom: 3px solid #e1d9bd;
  
  display: block;
}

.aside-post {
  margin-top: 21px;
  display: flex;
  flex-wrap: no-wrap;
}

.aside-post-preview {
  /* box-sizing: border-box; */
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
  /* margin-left: 15px; */
  /* padding-left: 16px; */
}

.aside-post-date {
  padding-left: 21px;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: left;
}

.aside-post-name {
  padding-left: 21px;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: left;
  text-transform: uppercase;
}

.aside-post-name:hover {
  color: #b59f5b;
}

.search {
  margin-top: 61px;
}

.search-field-group {
  padding: 1px;
  
  display: flex;
  flex-wrap: no-wrap;
}

.search-field {
  width: 100%;
}

.search-inp {
  width: 100%;
  height: 48px;
  padding: 18px 18px;
  margin: 1px 0;
  border: none;
  background-color: #f4f7f6;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: left;
}

.search-inp:focus {
  outline: 1px solid #b59f5b;
}

.search-btn {
  margin: 0 1px;
  width: 56px;
  border: none;
  background-color: #b59f5b;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-btn:hover {
  background-color: #323232;
}

.subscribe {
  margin-top: 55px;
}

.subscribe-field-group {
  margin-top: 17px;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
}

.subscribe-field {
  width: 100%;
}

.subscribe-inp {
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  padding: 18px 18px;
  border: none;
  background-color: #f4f7f6;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: left;
}

.subscribe-inp:focus {
  outline: 1px solid #b59f5b;
}

.subscribe-btn {
  width: 100%;
  height: 49px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
}

.subscribe-btn:hover {
  background-color: #323232;
}

.subscribe-btn-name {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
  
  text-transform: uppercase;
}

.tags {
  margin-top: 54px;
}

.tags-container {
  width: 100%;
  margin-top: 16px;
}

.tags-list {
    padding: 0 15px;
}

.tags-list li{
  margin-top: 6px;
  margin-right: 36px;
  display: inline;
}

.tags-list-item a{
  font-family: OpenSansBold, Arial, sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 3.3;
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  outline: 3px solid #eeeeee;
  outline-offset: 8px;
}

.tags-list-item a:hover {
  outline: 3px solid #b59f5b;
}

.themes {
  margin-top: 43px;
}

.themes-container {
  width: 100%;
  margin-top: 22px;
}

.themes-list li {
  list-style-type: none;
}

.themes-list li:nth-child(n+2) {
  margin-top: 28px;
}

.themes-link {
  font-family: OpenSansBold, Arial, sans-serif;
  color: #000000;
  font-size: 14px;
  
  text-transform: uppercase;
  text-decoration: none;
}

.themes-link:hover {
  color: #b59f5b;
}

.themes-sum {
  font-family: OpenSansBold, Arial, sans-serif;
  color: #b59f5b;
  font-size: 12px;
  
  vertical-align: top;
 }

.footer {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 1660px;
  margin-bottom: 41px;
  padding: 0 245px;
  display: flex;
  flex-wrap: wrap;
}

.socials {
  width: 100%;
  padding: 37px 477px;
  background-color: #f4f7f6;
  display: flex;
  flex-wrap: no-wrap;
}

.socials label:nth-child(n+2) {
  margin-left: 22px;
}

.socials-group {
  width: 100%;
}

.socials-icon {
  width: 25px;
  height: 21px;
}

.socials-icon:nth-child(n+2) {
  margin-left: 28px;
}

.copyright {
  width: 100%;
  margin: 61px 411px 0;
  padding-left: 71px;
  font-family: OpenSansBold, Arial, sans-serif;
  color: #999999;
  font-size: 12px;
  text-decoration: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

@font-face {
  font-family: OpenSansRegular;
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSansBold;
  src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}